@media (max-width: 20em) {
   .container {
      padding: 1.5em;
      border-radius: 4px;
      max-width: 95%;
   }

   .option {
      font-size: 12px;
      width: 25px;
      height: 25px;
      padding: 0.16em; /* 2px */
      font-weight: 400;
   }

   .submit-btn {
      width: 100%;
      margin: 1.125em; /* 18px */
   }
}

/* styles to apply if a user's device settings are set to reduced motion */
@media (prefers-reduced-motion: reduce) {
   .selected,
      .option:hover {
         transition: background-color 0.2s ease;
      }
}